body {
	margin: 0px;
	padding: 0px;
	background-image: url(../image/alldown.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 100%;
	width: 100%;
}
img , a{
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-decoration: none;
}

.AllBtn_Down {
	background-image: url(../image/btndown.png);
	height: 150px;
	width: 1091px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	clip: rect(0px,auto,auto,auto);
	z-index: 2;
}
#IndexDown {
	background-image: url(../image/woman.png);
	background-repeat: no-repeat;
	background-position: left 40px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 700px;
}
#InDown {
	background-attachment: fixed;
	background-image: url(../image/indown.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 100%;
}


.AllTable {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
#LOGO {
	height: 49px;
	width: 237px;
	margin-left: 20px;
	padding-top: 10px;
	float: left;
}
.AllBtn_Down ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 18px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.AllBtn_Down ul li {
	float: left;
	font-family: "微軟正黑體";
	font-size: 18px;
	color: #FFF;
	margin-top: 0px;
	margin-right: 35px;
	margin-bottom: 0px;
	margin-left: 30px;
	background-image: url(../image/btnicon.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-shadow:0px  0px  6px  #000000;
}
.AllBtn_Down ul li a {
	color: #FFF;
}
.AllBtn_Down ul li a:hover {
	color: #FC0;
	text-decoration: none;
}

.Ask_Table {
	margin-top: 26px;
	margin-right: 90px;
	clear: left;
	float: right;
	font-family: "微軟正黑體";
	font-size: 20px;
	color: #640082;
	text-align: center;
}
.Ask_Table a {
	color: #640082;
}
.Ask_Table a:hover {
	color: #F90;
	text-decoration: none;
}

.Ask_Table p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	margin: 0px;
	padding: 0px;
}
#Slogn {
	background-image: url(../image/slong.png);
	float: right;
	height: 56px;
	width: 284px;
	margin-top: 165px;
	margin-right: 130px;
	margin-bottom: 20px;
}
#IndexAdv {
	float: right;
	height: 210px;
	width: 432px;
	margin-right: 110px;
	border: 1px solid #ABABAB;
	clear: right;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 10px;
}
#IndexAdv img {
	border: 1px solid #FFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.Adv_Number {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3C1B71;
	clear: right;
	float: right;
	margin-right: 120px;
	margin-bottom: 30px;
}
.Adv_Number a {
	color: #3C1B71;
	text-decoration: none;
}
#Footer_Down {
	margin-right: 3%;
	margin-left: 3%;
	padding-top: 18px;
	padding-bottom: 18px;
	background: #380049; /* Old browsers */
	background: -moz-linear-gradient(top,  #380049 0%, #640082 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#380049), color-stop(100%,#640082)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #380049 0%,#640082 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #380049 0%,#640082 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #380049 0%,#640082 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #380049 0%,#640082 100%); /* W3C */



	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#380049', endColorstr='#640082',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 1%;
	-moz-box-shadow:0px 0px 8px #000000;
	-webkit-box-shadow:0px 0px 8px #000000;
	box-shadow:0px 0px 8px #000000;
	overflow: auto;
}
#Footer_Logo {
	background-image: url(../image/logo2.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 43px;
	width: 230px;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color: #931291;
	float: left;
	margin-right: 10px;
}
#Footer_Down #Footer_Txt p {
	font-size: 12px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#Footer_Txt {
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	float: left;
}
#Blog  {
	background-color: #FFF;
	float: right;
	padding-top: 4px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-top: 10px;
}
#Footer_Down #Blog img {
	margin-right: 7px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.News_Table {
	width: 1030px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-width: 9px;
	border-right-width: 9px;
	border-left-width: 9px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FACFD9;
	border-right-color: #FACFD9;
	border-left-color: #FACFD9;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.7);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	clear: right;
	height: 165px;
}

.News_Title {
	margin-bottom: 5px;
}
.News_Title2 {
	margin-bottom: 5px;
	margin-top: -10px;
	margin-left: 35px;
}

.News_Table01 {
	float: left;
	width: 26%;
	margin-right: 5px;
	margin-left: 5px;
	height: 145px;
}
.News_Table02 {
	float: left;
	width: 451px;
	margin-right: 1%;
	margin-left: 1%;
	height: 125px;
	background-image: url(../image/3Line.png);
	margin-top: 10px;
}
.News_Title ul {
	margin: 0px;
	padding: 0px;
	float: right;
	list-style-type: none;
}
.News_Title ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7C7C7C;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	border: 1px solid #B1B1B1;
	line-height: 12px;
}
.News_PP  {
	height: 87px;
	width: 87px;
	margin-left: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 8px #585858;
	-webkit-box-shadow: 0px 0px 8px #585858;
	box-shadow: 0px 0px 8px #585858;
	margin-top: 2px;
	float: left;
	margin-right: 7px;
}
.News_Table01 h1 {
	font-family: "微軟正黑體";
	font-size: 15px;
	font-weight: bold;
	color: #3C1B71;
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
}
.News_Table01 h1 a {
	color: #3C1B71;
	text-decoration: none;
}
.News_Table01 h1 a:hover {
	color: #3C1B71;
	text-decoration: underline;
}

.News_Table01 h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #646464;
	margin: 0px;
	padding: 0px;
}
.News_Table01 p {
	float: right;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.News_Back {
	/*background-image: url(../image/back.png);*/
	height: 21px;
	width: 10px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 0px;
	float: left;
	cursor: pointer;
}
.News_Next {
	/*background-image: url(../image/next.png);*/
	height: 21px;
	width: 10px;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 20px;
	float: right;
	cursor: pointer;
}
.News_Service {
	background-image: url(../image/line.png);
	background-repeat: repeat-y;
	background-position: center top;
	width: 380px;
	margin-top: 4px;
	float: left;
}
.News_Service tr td h1 {
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	color: #3C1B71;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 12px;
	line-height: 16px;
}
.News_Service tr td h1 a {
	color: #3C1B71;
	text-decoration: none;
}
.News_Service tr td h1 a:hover {
	color: #3C1B71;
	text-decoration: underline;
}

.News_Service tr td h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #646464;
	padding: 0px;
	line-height: 18px;
	width: 170px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}
.News_Service tr td p {
	padding: 0px;
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.News_Perty {
	float: left;
	margin-left: 6px;
}
.LeftBtnDown {
	background-image: url(../image/LeftBtn_down.png);
	background-repeat: repeat-y;
	background-position: 25px top;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -20px;
	margin-left: 0px;
	padding-top: 120px;
	padding-right: 0px;
	padding-bottom: 130px;
	padding-left: 0px;
	overflow: auto;
}
#LeftBtn_Table {
	margin-left: 60px;
	width: 180px;
	float: left;
	margin-right: 25px;
}
#LeftBtn_Table h1 {
	font-family: "微軟正黑體";
	font-size: 31px;
	line-height: 44px;
	font-weight: normal;
	color: #FFF;
	background-color: #6D288F;
	padding-right: 40px;
	padding-left: 10px;
	transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-webkit-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-moz-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-o-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-ms-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	height: 44px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
}
#LeftBtn_Table ul  {
	padding: 0px;
	list-style-type: none;
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: normal;
	color: #3B1A70;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
	clear: right;
}
#LeftBtn_Table ul li {
	list-style-image: url(../image/lefticon.png);
	margin-bottom: 15px;
	transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-webkit-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-moz-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-o-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-ms-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
}
#LeftBtn_Table ul li a {
	color: #3B1A70;
	text-decoration: none;
}
#LeftBtn_Table ul li a:hover {
	color: #3B1A70;
	text-decoration: underline;
}
#Red_Contact {
	height: 307px;
	width: 57px;
	position: fixed;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	top: 200px;
	right: 0px;
}
#AllInOB {
	float: left;
	width: 790px;
	margin-top: 50px;
}
#AllTitle {
	background-color: #6D288F;
	padding-right: 20px;
	padding-left: 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: "微軟正黑體";
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	line-height: 35px;
	height: 35px;
	margin-bottom: 40px;
}
#AllTitle p {
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #606060;
	float: right;
	padding-right: 25px;
	padding-left: 25px;
	border: 2px dotted #3A196F;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFF;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: normal;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.HotNews_PP {
	background-color: #FFF;
	height: 357px;
	width: 732px;
	border: 1px solid #ABABAB;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.HotNews_PP img {
	border: 1px solid #FFF;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.HotNews2_Table {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #D3C4DB;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #FFF;
	overflow: auto;
}
.HotNews2_Table img {
	height: 125px;
	width: 192px;
	border: 1px solid #D3C4DB;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-right: 9px;
	float: left;
	background-color: #F3F3F3;
}
.HotNews2_Table h1 {
	font-family: "微軟正黑體";
	font-size: 15px;
	font-weight: normal;
	color: #3E3E3E;
	background-color: #F3F3F3;
	padding: 3px;
	float: left;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	width: 440px;
}
.HotNews2_Table h2 {
	font-family: "微軟正黑體";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #4C4C4C;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
	width: 390px;
}
.HotNews2_Table p img {
	height: 62px;
	width: 62px;
	background-color: rgba(255,255,255,0);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.HotNews2_Table p {
	background-image: none;
	padding: 0px;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 630px;
	position: absolute;
}
#NumberPage {
	font-family: "微軟正黑體";
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	float: right;
	margin-top: 20px;
	clear: both;
}
#NumberPage a {
	color: #4C4C4C;
	text-decoration: none;
}
#NumberPage a:hover {
	color: #4C4C4C;
	text-decoration: underline;
}
#Stitle {
	font-family: "微軟正黑體";
	font-size: 17px;
	font-weight: bold;
	color: #6D288F;
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6D288F;
}
.AllHTML {
	margin-right: 30px;
	margin-left: 30px;
}
.Shaer_Table {
	height: 165px;
	width: 360px;
	background-color: #FFF;
	border: 1px solid #D3C4DB;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 2px 2px 0px #dedede;
	-webkit-box-shadow: 2px 10px 0px #dedede;
	box-shadow: 2px 2px 0px #dedede;
	float: left;
	margin: 16px;
}
.Shaer_Table h1 {
	font-family: "微軟正黑體";
	font-size: 17px;
	font-weight: bold;
	color: #6D288F;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.Shaer_Table h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 0px;
	font-weight: normal;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 19px;
}
.Shaer_Table img {
	float: right;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 165px;
	width: 212px;
	margin-left: 15px;
}
.Perty_Down {
	background-image: url(../image/Perty_Down.png);
	float: left;
	height: 257px;
	width: 288px;
	margin-top: 10px;
	margin-left: 70px;
	margin-bottom: 10px;
}
.Perty_Down img {
	margin-top: 4px;
	margin-left: 9px;
}
.Perty_Down h1 {
	font-family: "微軟正黑體";
	font-size: 17px;
	line-height: 26px;
	font-weight: bold;
	color: #FFF;
	background-color: #6D288F;
	height: 26px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
	margin-top: 174px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	position: absolute;
}
.Perty_Down h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 16px;
	padding: 0px;
}
.Team01_Table {
	background-color: #FFF;
	height: 355px;
	width: 205px;
	margin-left: 42px;
	border: 1px solid #CDCDCD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 5px #c1c1c1;
	-webkit-box-shadow: 3px 3px 5px #c1c1c1;
	box-shadow: 3px 3px 5px #c1c1c1;
	float: left;
	margin-bottom: 30px;
	padding-top: 15px;
}
.Team01_Table h1 {
	font-family: "微軟正黑體";
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	background-color: #6D288F;
	height: 30px;
	width: 150px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.Team01_Table img {
	text-align: center;
	height: 165px;
	width: 165px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.Team01_Table h2 {
	font-family: "微軟正黑體";
	font-size: 14px;
	font-weight: bold;
	color: #6D288F;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 22px;
}
.Team01_Table h2 span {
	font-size: 17px;
}
.Team01_Table h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #3C3C3C;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 22px;
	line-height: 19px;
}
.Team01_in_P {
	background-color: #FFF;
	height: 340px;
	width: 340px;
	border: 1px solid #D5D0CC;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.Team01_in_P img {
	height: 338px;
	width: 338px;
	border: 1px solid #FFF;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.Team01_in_Txt {
	font-family: "微軟正黑體";
	font-size: 14px;
	font-weight: bold;
	color: #6D288F;
	margin-top: 30px;
	line-height: 30px;
}
.Team02_Table {
	background-color: #FFF;
	float: left;
	height: 345px;
	width: 345px;
	margin-bottom: 31px;
	margin-left: 31px;
	border: 1px solid #DEDEDE;
}
.Team02_Table img {
	margin-top: 2px;
	margin-left: 65px;
	margin-bottom: 15px;
	height: 213px;
	width: 213px;
}
.Team02_Table h1 {
	font-family: "微軟正黑體";
	font-size: 18px;
	font-weight: bold;
	color: #6D288F;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	line-height: 18px;
}
.Team02_Stxt {
	font-family: "微軟正黑體";
	font-size: 13px;
	font-weight: bold;
	color: #6D288F;
	margin-bottom: 6px;
	margin-left: 10px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
.Team02_Table h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #484848;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 33px;
}
.Team02_Stxt02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #484848;
	text-align: right;
	margin-right: 10px;
}
.Team02_in_PP {
	border: 1px solid #DADADA;
}
.Team02_t01 {
	font-family: "微軟正黑體";
	font-size: 14px;
	font-weight: bold;
	color: #6D288F;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CBCBCB;
}
.Team02_H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #484848;
	margin-bottom: 50px;
	margin-left: 10px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
.Contact_HTML {
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #666666;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
	clear: left;
	padding-bottom: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.Contact_Order {
	margin-right: 40px;
	margin-left: 40px;
	font-family: "微軟正黑體";
	font-weight: bold;
}
.Order01 {
	background-color: #EEEEEE;
	border: 1px solid #B5B5B5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 24px;
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 6px;
}
.Order02 {
	background-color: #EEEEEE;
	border: 1px solid #B5B5B5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 6px;
}
